{% extends 'base.html' %}
{% block content %}
<div style="margin: 20px;">
  <a href="javascript:history.back()" style="display:inline-block;background:#2563eb;color:white;padding:10px 16px;border-radius:8px;text-decoration:none;font-weight:bold;">← Volver atrás</a>
</div>

<h1>Cambiar contraseña</h1>

<form method="post">
  {{ form.hidden_tag() }}

  <label>Contraseña actual</label>
  <input type="password" name="current_password" required>

  <label>Nueva contraseña</label>
  <input type="password" name="password" required>

  <label>Confirma tu nueva contraseña</label>
  <input type="password" name="confirm_password" required>

  <button class="btn" type="submit">Actualizar contraseña</button>
</form>
{% endblock %}
