{% extends 'base.html' %}
{% block content %}
<div class="back-box">
  <a href="javascript:history.back()" class="back-btn">← Volver atrás</a>
</div>

<h1>Cambiar contraseña</h1>

<form method="post">
  {{ form.hidden_tag() }}

  <label>Contraseña actual</label>
  <input type="password" name="current_password" required>

  <label>Nueva contraseña</label>
  <input type="password" name="password" required>
  <small class="password-rules">
  Mínimo 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial.
</small>

  <label>Confirma tu nueva contraseña</label>
  <input type="password" name="confirm_password" required>

  <button class="btn" type="submit">Actualizar contraseña</button>
</form>
{% endblock %}
