{% extends 'base.html' %}
{% block content %}

<div style="margin: 20px;">
  <a href="javascript:history.back()" style="
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:10px 16px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
  ">← Volver atrás</a>
</div>

<h1>Recuperar contraseña</h1>

<form method="post">
  {{ form.hidden_tag() }}

  <label>{{ form.email.label }}</label>
  {{ form.email() }}
  {% for error in form.email.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  {{ form.submit(class_='btn') }}
</form>
{% endblock %}


<footer style="text-align:center;padding:14px;margin-top:40px;background:#0f172a;color:white;font-size:14px;">
  &copy; LabGuard 2026 - Todos los derechos reservados
</footer>

