{% extends 'base.html' %}
{% block content %}

<div class="back-box">
  <a href="javascript:history.back()" class="back-btn">← Volver atrás</a>
</div>

<h1>Recuperar contraseña</h1>

<form method="post">
  {{ form.hidden_tag() }}

  <label>{{ form.email.label }}</label>
  {{ form.email() }}
  {% for error in form.email.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  {{ form.submit(class_='btn') }}
</form>
{% endblock %}


<footer class="footer-old">
  &copy; LabGuard 2026 - Todos los derechos reservados
</footer>

