{% extends 'base.html' %}
{% block content %}
<h1>Solicitar préstamo</h1>
<form method="post">
  {{ form.hidden_tag() }}

  <label>{{ form.equipment_id.label }}</label>
  {{ form.equipment_id() }}
  {% for error in form.equipment_id.errors %}<div class="flash danger">{{ error }}</div>{% endfor %}

  <label>{{ form.purpose.label }}</label>
  {{ form.purpose() }}
  {% for error in form.purpose.errors %}<div class="flash danger">{{ error }}</div>{% endfor %}

  <label>{{ form.requested_days.label }}</label>
  {{ form.requested_days() }}
  {% for error in form.requested_days.errors %}<div class="flash danger">{{ error }}</div>{% endfor %}
  <p class="muted">El máximo permitido es de 30 días.</p>

  {{ form.submit(class_='btn') }}
</form>
{% endblock %}


<footer style="text-align:center;padding:14px;margin-top:40px;background:#0f172a;color:white;font-size:14px;">
  &copy; LabGuard 2026 - Todos los derechos reservados
</footer>

