{% extends 'base.html' %}
{% block content %}
<h1>Acceso a LabGuard</h1>
<form method="post">
  {{ form.hidden_tag() }}

  <label>{{ form.email.label }}</label>
  {{ form.email() }}
  {% for error in form.email.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  <label>{{ form.password.label }}</label>
  {{ form.password() }}
  {% for error in form.password.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  <label>Captcha</label>
  <p class="muted">Resuelve esta suma para continuar: <strong>{{ captcha_question }}</strong></p>
  {{ form.captcha_answer() }}
  {% for error in form.captcha_answer.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  {{ form.submit(class_='btn') }}
</form>

<p><a class="btn btn-secondary" href="{{ url_for('register') }}">Solicitar una cuenta</a></p>
<p><a class="btn btn-secondary" href="{{ url_for('forgot_password') }}">He olvidado mi contraseña</a></p>
{% endblock %}


<footer style="text-align:center;padding:14px;margin-top:40px;background:#0f172a;color:white;font-size:14px;">
  &copy; LabGuard 2026 - Todos los derechos reservados
</footer>

