{% extends 'base.html' %}
{% block content %}

<div style="margin: 20px;">
  <a href="javascript:history.back()" style="
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:10px 16px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
  ">← Volver atrás</a>
</div>

<h1>Solicitar una cuenta</h1>

<form method="post">
  {{ form.hidden_tag() }}

  <label>{{ form.name.label }}</label>
  {{ form.name() }}
  {% for error in form.name.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  <label>{{ form.email.label }}</label>
  {{ form.email() }}
  {% for error in form.email.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  <label>{{ form.password.label }}</label>
  {{ form.password() }}
<small style="display:block;margin:6px 0 14px;color:#475569;">
  Mínimo 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial.
</small>
  {% for error in form.password.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  {{ form.submit(class_='btn') }}
</form>
{% endblock %}


<footer style="text-align:center;padding:14px;margin-top:40px;background:#0f172a;color:white;font-size:14px;">
  &copy; LabGuard 2026 - Todos los derechos reservados
</footer>

