{% extends 'base.html' %}
{% block content %}
<h1>Restablecer contraseña</h1>

<p><strong>Pregunta de seguridad:</strong> {{ question_label }}</p>

<form method="post">
  {{ form.hidden_tag() }}

  <label>{{ form.security_answer.label }}</label>
  {{ form.security_answer() }}
  {% for error in form.security_answer.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  <label>{{ form.password.label }}</label>
  {{ form.password() }}
  {% for error in form.password.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  {{ form.submit(class_='btn') }}
</form>
{% endblock %}


<footer style="text-align:center;padding:14px;margin-top:40px;background:#0f172a;color:white;font-size:14px;">
  &copy; LabGuard 2026 - Todos los derechos reservados
</footer>

