{% extends 'base.html' %}
{% block content %}

<div class="back-box">
  <a href="javascript:history.back()" class="back-btn">← Volver atrás</a>
</div>

<h1>Activar 2FA</h1>

<p>Escanea este QR con Google Authenticator, Authy o Aegis.</p>

<div class="card" class="card card-small">
  <img src="{{ qr_data_url }}" alt="QR 2FA" class="qr-img">
  <p><strong>Clave manual:</strong> {{ secret }}</p>
</div>

<form method="post" class="account-actions">
  {{ form.hidden_tag() }}

  <label>{{ form.token.label }}</label>
  {{ form.token() }}
  {% for error in form.token.errors %}
    <div class="flash danger">{{ error }}</div>
  {% endfor %}

  {{ form.submit(class_='btn') }}
</form>
{% endblock %}


<footer class="footer-old">
  &copy; LabGuard 2026 - Todos los derechos reservados
</footer>

